# LeLamp Runtime Dependencies
# Install with: pip install -r requirements.txt

# Core dependencies
deepgram-sdk>=5.0.0
requests>=2.31.0
feetech-servo-sdk>=1.0.0
firebase-admin>=6.0.0
lerobot @ git+https://github.com/huggingface/lerobot
numpy>=2.2.6
pvporcupine>=3.0.5
pvrecorder>=1.2.7
pyarrow==20.0.0
pyaudio>=0.2.14
python-dotenv
sounddevice>=0.5.2
soundfile>=0.13.1
edge-tts>=6.1.9

# Hardware dependencies (Raspberry Pi only)
adafruit-circuitpython-neopixel
rpi-ws281x

mediapipe
opencv-python-headless
protobuf


